@page
@model CodingTest.Pages.Student.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Detalhes</h1>

<div>
    <h4>Estudante</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Lastname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Phone)
        </dd>
    </dl>
</div>
<div class="form-group form-footer">
    <a asp-page="./Edit" asp-route-id="@Model.Student?.Id" class="project-btn btn-edit">Editar</a> |
    <a asp-page="Index" class="project-btn btn-return">
        Voltar
    </a>
</div>
